<h4>
  Contact us
</h4>
<%= form_tag contact_path do -%>
  <%= hidden_field_tag :bot_catcher %>
  <div class="form-group">
    <div class="input-field">
      <label for="email" class="cyan-text">Email</label>
      <%= email_field_tag :email, "", class: "form-control", id: "email" %>
    </div>
    <div class="input-field">
      <label for="textArea" class="cyan-text">Message</label>
      <%= text_area_tag(:message, "", size: "24x6", class: "form-control", id: "textArea") %>
    </div>
  </div>
  <div class="form-group">
    <%= submit_tag 'Submit', class: "btn btn-success" %>
  </div>
<% end -%>
<div class="map-container">
  <h4>
    <%= @address[:street] %>
    <%= @address[:city_state] %>
  </h4>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
</div>
