<div class="center-text">
  <h3>
    Technologies We Use
  </h3>
  <p>
    <%= @technology_blurb %>
  </p>
</div>
<% @technologies.each do |technology| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="<%= technology[:link] %>" target="_blank"><%= technology[:name] %></a>
    </div>
    <div class="panel-body">
      <div class="thumbnail">
        <%= image_tag(technology[:image], class: "responsive-img") %>
      </div>
      <%= technology[:description] %>
    </div>
  </div>
<% end %>
